@import url('https://fonts.cdnfonts.com/css/clash-grotesk');

/* Glassmorphism Styles for Market Detail Page */

.glass-border {
	border: 1px solid;
	border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.72) 50%, rgba(255, 255, 255, 0) 100%) 1;
}

.background {
    box-shadow: 
	inset 0 0 1px rgba(255, 255, 255, 1),
	inset 0 0 16px rgba(255, 255, 255, 0.06),
	inset 0 0 24px rgba(24, 24, 24, 0.02);
	background: transparent !important;
	border-radius: var(--border-radius, 4px);
}

.glass-gradient-border {
	position: relative;
}

.glass-gradient-border::before {
	content: '';
	position: absolute;
	inset: 0;
	padding: 1px;
	background: 
		/* Top-right corner gradient */
		radial-gradient(circle at top right, 
			rgba(0, 0, 0, 0.4) 0%, 
			transparent 5%
		),
		/* Bottom-left corner gradient */
		radial-gradient(circle at bottom left, 
			rgba(0, 0, 0, 0.4) 0%, 
			transparent 5%
		),

		radial-gradient(circle at top left, 
			rgba(255, 255, 255, 0.2) 0%, 
			transparent 10%
		),

		radial-gradient(circle at bottom right, 
			rgba(255, 255, 255, 0.2) 0%, 
			transparent 10%
		),
		linear-gradient(180deg, 
			rgba(255, 255, 255, 0) 0%, 
			rgba(255, 255, 255, 1) 50%, 
			rgba(0, 0, 0, 0.2) 100%
		);
	border-radius: inherit;
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: xor;
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
}

.glass-card {
	position: relative;
	--border-radius: 8px;
}

.glass-card::before {
	content: '';
	position: absolute;
	inset: 0;
	padding: 1px;
	background: 
		/* Top-right corner gradient */
		radial-gradient(circle at top right, 
			rgba(0, 0, 0, 0.4) 0%, 
			transparent 5%
		),
		/* Bottom-left corner gradient */
		radial-gradient(circle at bottom left, 
			rgba(0, 0, 0, 0.4) 0%, 
			transparent 5%
		),

		radial-gradient(circle at top left, 
			rgba(255, 255, 255, 0.2) 0%, 
			transparent 10%
		),

		radial-gradient(circle at bottom right, 
			rgba(255, 255, 255, 0.2) 0%, 
			transparent 10%
		),
		linear-gradient(180deg, 
			rgba(255, 255, 255, 0) 0%, 
			rgba(255, 255, 255, 0.7) 25%, 
			rgba(255, 255, 255, 0.7) 50%,
			rgba(255, 255, 255, 0.7) 75%,
			rgba(0, 0, 0, 0.2) 100%
		);
	border-radius: inherit;
	pointer-events: none;
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: xor;
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
}

.box-shadow {
	box-shadow: 
	inset 0 0 1px rgba(255, 255, 255, .6),
	inset 0 0 16px rgba(255, 255, 255, 0.06),
	inset 0 0 24px rgba(24, 24, 24, 0.02);
	pointer-events: none;
	border-radius: 4px;
	pointer-events: all;
}

.input-glass {
	border: 1px solid;
	border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.72) 50%, rgba(255, 255, 255, 0) 100%) 1;
}

.dialog {
	max-height: 100vh;
	overflow-x: auto;
	max-width: 48rem;
	background: transparent !important;
	backdrop-filter: blur(4px);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.orange-gradient { 
	background: linear-gradient(150deg, rgba(255, 190, 26, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(95, 76, 29, 0.3) 100%) !important;
	border: 1px solid transparent !important;
	background-clip: padding-box;
}

